version: '3.9'

services:
  api:
    image: crpi-z0i66pi33rz7it9j.cn-hangzhou.personal.cr.aliyuncs.com/maplezh/fastify-app:v1
    container_name: fastify-app
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    restart: always